.container {
    /* border:solid black 1px; */
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}


/* card containing both team and amount  */

.card {
    /* border:solid black 1px; */
    box-shadow: 0 0px 3px grey;
    align-content: center;
    position: relative;
    background: teal;
    color: white;  
}


/* uname span contain name  */

.uname {
    padding: 2%;
    /* border: solid red 1px; */
    position: absolute;
    display: inline-block;
}


/* teamAmount span contain name  */

.teamAmount {
    float: right;
    text-align: right;
    /* border: solid black 1px; */
    padding: 2%;
    display: block;
}

.clear {
    clear: both;
}