<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2>Add/Edit Team</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <form class="form-group">
                        <label style="color: blue;">Team</label>
                        <input type="text" class="form-control" /><br>
                        <label style="color: blue;">Revenue</label>
                        <input type="text" class="form-control" /><br>
                        <button class="btn btn-primary" style="width: 40%;float: left;">Submit</button>
                    </form>
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                </div>
            </div>

        </div>
    </div>
</div>