.nav-link {
    color: black;
    margin-right: 30px;
    font-size: 22px;
    margin-top: 11px;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.heading {
    margin-left: 20px;
    float: left;
    margin-top: 15px;
}

nav {
    height: 7vh;
    background-color: #F5F5F5;
}

.nav-links {
    font-family: sans-serif;
    list-style: none;
    float: right;
}