.card{ 
    box-shadow: 0 2px 3px grey; 
    margin:2%;
    height: 47px;
} 

.card :hover{
      cursor: pointer;
}
    
.teamName{ 
      padding: 10px;
} 
      
      
.teamAmount{ 
        text-align: right;
        float:right;
} 
      
.deleteTeam{
        color: red;
}